#app {
	margin: 3em auto;
}

#stars,
#answer {
	align-items: center;
	background: #eceeef;
	border-radius: .3rem;
	display: flex;
	justify-content: center;
	padding: 4em;
}

#actions {
	align-items: center;
	display: flex;
	justify-content: center;
}

#stars .fa {
	font-size: 1.5em;
	margin: .2em;
}

#answer .btn,
#numbers .btn {
	margin: .4em .2em;
}