#app {
	margin: 3em auto;
}

#stars,
#answer {
	align-items: center;
	background: #eceeef;
	border-radius: .3rem;
	display: flex;
	justify-content: center;
	padding: 4em;
}

#actions {
	align-items: center;
	display: flex;
	justify-content: center;
}

#stars .fa {
	font-size: 1.5em;
	margin: .2em;
}

#answer .btn,
#numbers .btn {
	margin: .4em .2em;
}

/*#root {*/
	/*display: flex;*/
	/*justify-content: center;*/
/*}*/

/*.app {*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*min-height: 100vh;*/
	/*width: 1000px;*/
/*}*/

/*.stars-area {*/
	/*!*border: 2px solid #555;*!*/
	/*!*border-radius: 2px;*!*/
	/*display: inline-flex;*/
	/*height: 250px;*/
	/*justify-content: center;*/
	/*margin: 20px 10px;*/
	/*width: 150px;*/
/*}*/

/*.buttons-area {*/
	/*align-items: center;*/
	/*display: inline-flex;*/
	/*flex-direction: column;*/
	/*width: 50px;*/
/*}*/

/*.buttons-area button {*/
	/*margin: 5px 0;*/
/*}*/

/*.numbers-area {*/
	/*!*border: 2px solid #555;*!*/
	/*!*border-radius: 2px;*!*/
	/*display: inline-flex;*/
	/*height: 250px;*/
	/*justify-content: center;*/
	/*margin: 20px 10px;*/
	/*width: 150px;*/
/*}*/

/*.answer-area {*/
	/*!*border: 2px solid #555;*!*/
	/*!*border-radius: 2px;*!*/
	/*display: flex;*/
	/*height: 100px;*/
	/*justify-content: center;*/
	/*margin: 20px 10px;*/
	/*width: 370px;*/
/*}*/