#app {
	display: flex;
	flex-direction: column;
}

#app > .container {
	margin: 3em auto;
}

#stars,
#answer {
	align-items: center;
	background: #eceeef;
	border-radius: .3rem;
	display: flex;
	justify-content: center;
	min-height: 230px;
	padding: 4em;
}

#actions {
	align-items: center;
	display: flex;
	justify-content: center;
}

#stars .fa {
	font-size: 1.7em;
	margin: .2em;
}

#answer .btn,
#numbers .btn {
	margin: .4em .2em;
}